<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></Script>
    <title>Web Store</title>
</head>

<body>
    <div id="webstore">
        <h1>
            {{message}}
        </h1>
        <button v-on:click="showCheckout">{{itemInCart}} Checkout</button>
        <main>
            <div v-if="showProduct">
                <figure>
                    <img v-bind:src="product.image" alt="Melrose image">
                    <h2 v-text:src="product.title"></h2>
                    <p v-text:src="product.description"></p>
                    <p> price:{{product.price}}</p>
                    <p>available inventory: {{product.availableInventory}}</p>
                    <input type="button" v-on:click="addItemtoCart" v-if="canAddToCart" value="Add to cart">
                    <input type="button" value="add to cart" disabled v-else>
                </figure>
            </div>
            <div v-else>
                <h1>Welcome to the checkout page</h1>
                <form>
                    
                </form>
            </div>
        </main>
    </div>
</body>

<script>
    let webstore = new Vue({
        el: '#webstore',
        data: {
            message: "Welcome to the Tuition Course web store!",
            product: {
                id: 98765,
                title: "Mathematics",
                description: "the basics of all mathematical topics",
                price: 250,
                image: 'images/maths.jpg',
                availableInventory: 5,
            },
            cart: [],
            showProduct: true,
            //order:{"order details go here"} 
        },
        methods: {
            addItemtoCart: function () {
                this.cart.push(this.product.id);
            },
            showCheckout: function () {
                this.showProduct = !this.showProduct
            },
        },
        computed: {
            itemInCart: function () {
                return this.cart.length || ""

            },
            canAddToCart: function () {
                return this.product.availableInventory > this.cart.length;
            }
        }
    })
</script>

</html>